.container-fluid{
    margin:0;
    padding:0;
    }

.row{
    margin: 0;
    padding: 1.5rem;
}

h1, h2, h5, p{
    color: #eeeeee;
    font-weight: lighter;
}

hr{
    border-top-color:#eeeeee;
  }

.img-fluid{
    height: 9rem;
    width: 8rem;
    margin: 2rem;
    border-radius: 5%;
    box-shadow: 8px 7px 8px 3px rgba(34,40,49,0.86);
}

i{
    margin: 2rem .5rem 2rem .5rem;
}


#about{
    padding: 2rem;
    background-color: #393e46;
    justify-content: center;
    text-align: center;
}

#portfolio{
    background-color: #00adb5;
    text-align: center;
    padding-top: 4rem;
}

#portfolio h1{
    padding-bottom: 2rem;
}

#contact{
    background-color: #393e46;
    padding-top: 1.5rem;
    text-align: center;
}

#contact a {
    color: #eeeeee;
    text-decoration: none;
}


.navbar-nav{
    font-size: large;
    font-weight: bold;
    flex-direction: row;
    padding: 0;
}

.nav-item{
    padding-left: 1rem;
    padding-right: 1rem;
}

.card{
    background-color:  #393e46;
    box-shadow: 8px 7px 8px 3px rgba(34,40,49,0.86);
}

.btn{
    background-color: #00adb5;
}

@media only screen and (max-width: 600px) {
    .navbar{
        justify-content: center;
    }
    .nav-item{
        padding-right: 1.5rem;
    }
    .card{
        margin: 1rem;
    }
    .row{
        padding: 1rem;
    }
}


